@charset "UTF-8";
.cards__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.cards__list__title {
  width: 322px;
  height: 36px;
  left: 239px;
  top: 576px;
  font-family: inherit;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  color: #212121;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 24px;
  margin-bottom: 4px;
}

.cards__list__paragraph {
  width: 322px;
  height: 30px;
  left: 239px;
  top: 616px;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
  padding-left: 24px;
  margin-bottom: 24px;
}

.cards__list__item {
  background: #ffffff;
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -ms-flex-preferred-size: calc(100% / 3 - 30px);
      flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.cards__list__item:hover .overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cards__list__item__wrapper {
  position: relative;
  overflow: hidden;
}

.cards__list__item__wrapper:hover {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.6), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.6), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.characteristics__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.characteristics__list__title {
  text-transform: uppercase;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  text-align: left;
}

.characteristics__list__item {
  -ms-flex-preferred-size: calc(100% / 4 - 30px);
      flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.characteristics__list__description {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  text-align: left;
}

.characteristics__list__wrapper {
  text-align: center;
  padding: 28px 0;
  background: #f5f4fa;
  margin-bottom: 30px;
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.clients__list__item {
  margin-left: 30px;
}

.clients__list__icon {
  fill: #afb1b8;
}

.clients__list .clients__list__item:first-child {
  margin-left: 0px;
}

.clients__list__link {
  border: 1px solid #afb188;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 14px 31px;
  display: inline-block;
}

.clients__list__link:hover .clients__list__icon,
.clients__list__link:focus .clients__list__icon, .clients__list__link:hover, .clients__list__link:focus {
  border-color: #2196f3;
  fill: #2196f3;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}

.contact__link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 32px 0;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__icon  {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.contact .contact__item + .contact__item {
  margin-left: 50px;
}

.filters__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filters__list__btn:hover, .filters__list__btn:focus {
  background: #2196f3;
  color: #ffffff;
}

.filters__list .filters__list__item + .filters__list__item {
  margin-left: 8px;
}

.filters__list__btn {
  padding: 6px 22px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border-radius: 4px;
  border: none;
}

.active {
  background: #2196f3;
  color: #ffffff;
}

.our__team {
  background-color: #f5f4fa;
}

.our__team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our__team .our__team__title {
  margin-bottom: 50px;
}

.our__team__list__item {
  padding-bottom: 30px;
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
}

.our__team__list__item .img {
  margin-bottom: 30px;
}

.our__team__list__item__headline {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.our__team__list__item__paragraph {
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
  margin-bottom: 16px;
}

.our__team__list__item:not(:last-child) {
  margin-right: 30px;
}

.person__info {
  max-width: 270px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our__work.section {
  padding-top: 0;
}

.our__work__title {
  margin-bottom: 50px;
}

.our__work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our__work__list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our__work__list__item_text {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.our__work__list__item_wrapper {
  width: 100%;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.our__work__list__item:not(:last-child) {
  margin-right: 30px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__list__item {
  margin-left: 10px;
}

.social__list__icon {
  fill: #757575;
}

.social__list__icon__footer {
  fill: #ffffff;
}

.social__list .social__list__item:first-child {
  margin-left: 10px;
}

.social__list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social__list__link:hover .social__list__icon,
.social__list__link:focus .social__list__icon, .social__list__link:hover, .social__list__link:focus {
  fill: #ffffff;
  background: #2196f3;
}

.social__list__link-footer {
  background: rgba(255, 255, 255, 0.1);
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

.button {
  cursor: pointer;
  border: none;
  color: #ffffff;
}

textarea {
  resize: none;
}

ul {
  list-style-type: none;
}

.icons {
  margin-right: 10px;
  fill: #757575;
}

.current::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  top: 76px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -3px;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.navigation__text__logo,
.current,
.link:hover .contact__list__icon,
.link:focus .contact__list__icon,
.link:hover,
.link:focus,
.address-link:hover,
.address-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section__title {
  margin: 94px;
}

a {
  -webkit-transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

button {
  cursor: pointer;
  -webkit-transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

svg {
  -webkit-transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 900;
  background: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  width: 100vw;
  height: 100vh;
  max-width: 528px;
  background: #ffffff;
  border-radius: 4px;
  height: 581px;
  position: absolute;
}

.modal-close {
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  color: #000000;
}

.modal-close:hover, .modal-close:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.subscribe-form {
  display: inline-block;
}

.input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.overlay {
  position: absolute;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  left: 0;
  min-height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__text {
  font-weight: normal;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer_button {
  width: 200px;
  height: 50px;
  left: 1185px;
  top: 2787px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address {
  text-decoration: none;
  color: #ffffff;
  width: 231px;
  height: 81px;
  left: 215px;
  top: 2208px;
}

.footer__address link:hover,
.footer__address link:focus {
  color: red;
}

.footer__address__list {
  text-align: left;
}

.footer__address__list__item {
  width: 231px;
  height: 21px;
  left: 215px;
  top: 2208px;
  font-family: inherit;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__address__list__email a:link {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
  text-decoration: none;
}

.footer__address__list__phone a:link {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-align: left;
  text-decoration: none;
}

.footer__social__media__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 12px 0 20px 0;
}

.footer__left__box__offset {
  margin-right: 70px;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__form__title {
  font-weight: bold;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  margin: 12px 0 20px 0;
  text-align: left;
}

.footer__form__input {
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  background: transparent;
  outline: none;
  margin-right: 12px;
  color: #ffffff;
}

.footer__form__input:focus, .footer__form__input:hover {
  border-color: #188ce8;
}

.footer__form__btn {
  padding: 10px 62px 10px 29px;
  border-radius: 4px;
  color: #ffffff;
  text-transform: capitalize;
  position: relative;
  background: #2196f3;
  font-size: 16px;
  font-weight: bold;
  line-height: calc(30 / 16);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__form__btn:focus, .footer__form__btn:hover {
  background: #188ce8;
}

.footer__form__icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 28px;
  fill: #ffffff;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form {
  padding: 40px;
  text-align: center;
}

.form__title {
  font-weight: bold;
  font-size: 20px;
  line-height: calc(23 / 20);
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form__text {
  text-align: left;
  display: block;
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
  text-transform: capitalize;
}

.form__input {
  width: 100%;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding: 12px 15px 12px 45px;
}

.form__input:focus, .form__input:hover,
.form__input:focus + .form__svg,
.form__input:hover + .form__svg {
  fill: #2196f3;
  border-color: #2196f3;
}

.form__textarea {
  display: block;
  height: 120px;
  padding-left: 15px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__textarea {
  width: 100%;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding: 12px 15px 12px 45px;
}

.form__textarea:focus, .form__textarea:hover {
  fill: #2196f3;
  border-color: #2196f3;
}

.form__btn {
  padding: 10px 56px;
  border-radius: 4px;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: capitalize;
}

.form__btn:focus, .form__btn:hover {
  background: #188ce8;
}

.form_label {
  padding-left: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: #757575;
  margin: 10px 0 30px 0;
}

.form_checkbox {
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  margin-top: -1px;
}

.form_checkbox:checked + .form__box__icon {
  border: none;
  background: #2196f3;
  border-radius: 2px;
  fill: #18a0fb;
  background-color: #18a0fb;
  background-image: url(../images/svg/check.svg);
  background-size: contain;
}

.form__box__icon {
  width: 16px;
  height: 15px;
  cursor: pointer;
  border: 1px solid #212121;
  border-radius: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
}

.form__link {
  color: #2196f3;
  display: inline-block;
  margin-left: 7px;
  text-decoration: underline;
}

.form__wrapper {
  position: relative;
}

.form__svg {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
}

.hero {
  padding: 200px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg.jpg);
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 1600px;
  margin: 0 auto;
}

.hero__button {
  padding: 10px 32px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  background: #2196f3;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  display: block;
}

.hero__title {
  text-transform: uppercase;
  color: #ffffff;
  font-family: Roboto;
  font-style: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 55%;
}

.logo {
  padding-top: 25px;
  padding-bottom: 25px;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navigation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 93px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: inherit;
  letter-spacing: 0.02em;
}

.navigation__list .navigation__item + .navigation__item {
  margin-left: 50px;
}

.navigation__header__logo {
  color: rgba(0, 0, 0, 0.8);
}

.header {
  border: 1px solid #ececec;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0px;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 1px solid #ececec;
}
/*# sourceMappingURL=main.css.map */