.footer {
  background-color: $background-color-black;
  color: $primary-white-color;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.footer_button {
  //todo check if below is needed
  // width: 200px;
  // height: 50px;
  // left: 1185px;
  // top: 2787px;

  background: $background-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address {
  text-decoration: none;
  color: $primary-white-color;
  width: 231px;
  height: 81px;
  left: 215px;
  top: 2208px;

  @media screen and (max-width: 768px) {
    margin-bottom: 60px;
  }

  & link:hover,
  & link:focus {
    color: red;
  }
}

// .footer__address__list {
//   text-align: left;

//   &__item {
//     width: 231px;
//     height: 21px;
//     left: 215px;
//     top: 2208px;
//     font-family: inherit;
//     font-size: 14px;
//     line-height: 1.2;
//     letter-spacing: 0.03em;
//     color: $primary-white-color;
//   }
// }

.footer__address__list {
  text-align: left;

  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footer__address__list__email a:link {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.2;

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-align: left;
  text-decoration: none;
}

.footer__address__list__phone a:link {
  font-family: inherit;

  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  text-align: left;
  text-decoration: none;
}

.footer__social__media {
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
  }
}

.footer__social__media__title {
  font-family: Roboto;
  @include font(14px, #fff, 1.14, 700);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin: 12px 0 20px 0;
}

.footer__left__box__offset {
  text-align: center;
  font-family: Raleway;
  font-style: normal;
  text-align: center;
  letter-spacing: 0.03em;
  @include font(24px, #2196f3, 1.16, bold);

  @media screen and (max-width: 768px) {
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.footer__btn__text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  margin-right: 10px;
}

.footer-input-box {
  display: flex;
  @media screen and (max-width: 1200px) {
    flex-direction: column;
  }
}

.footer-mail-input {
  margin-right: 12px;
  background-color: #2f303a;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  outline: none;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (max-width: 768px) {
    width: 90vw;
    margin-bottom: 20px;
  }
}

.footer-mail-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 50px;
  background: #2196f3;

  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 1200px) {
    margin: 0 auto;
  }
}

.footer-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: $primary-white-color;
  margin-right: 10px;
}

.footer-btn-icon {
  width: 24px;
  height: 24px;
  fill: $primary-white-color;
}
