.close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 8 px;
  top: 8 px;
  width: 30 px;
  height: 30 px;
  background-color: #fff;
  border: 1 px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal-title {
  margin-top: 40 px;
  margin-bottom: 12 px;
  color: #212121;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 0.8;
  text-align: center;
}
