.cards__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: -30px;
  margin-right: -30px;

  &__title {
    width: 322px;
    height: 36px;
    left: 239px;
    top: 576px;

    font-family: inherit;
    font-weight: bold;
    font-size: 18px;
    line-height: 1.2;
    color: #212121;
    text-align: left;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 24px;
    margin-bottom: 4px;
  }

  &__paragraph {
    width: 322px;
    height: 30px;
    left: 239px;
    top: 616px;
    font-family: inherit;

    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $color-grey;
    text-align: left;
    padding-left: 24px;
    margin-bottom: 24px;
  }
}

.cards__list__item {
  background: $primary-white-color;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  margin-bottom: 30px;

  &:hover .overlay {
    transform: translateY(0);
  }
}

.cards__list__item__wrapper {
  position: relative;
  overflow: hidden;

  &:hover {
    box-sizing: border-box;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.6),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
