.contact {
  display: none;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 32px 0;
    letter-spacing: 0.02em;
  }
}

.contact__link {
  display: none;
  align-items: center;
  color: $color-grey;
  transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
  }
}

.contact__icon  {
  margin-right: 10px;
  fill: $color-grey;
  transition: fill 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.contact .contact__item + .contact__item {
  margin-left: 50px;
}

.contact__item {
  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
<<<<<<< HEAD

=======
>>>>>>> origin/master
    @media screen and (min-width: 1200px) {
      margin-bottom: 10px;
    }
  }

  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 10px;
    }
<<<<<<< HEAD

=======
>>>>>>> origin/master
    @media screen and (min-width: 1200px) {
      margin-right: 10px;
    }
  }
}

.contact__item,
.contact__link {
  color: #757575;
}

.clients__list__link {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: -30px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    padding: 32px 0;
    letter-spacing: 0.02em;
  }
}

.contact__icon .icon {
  width: 16px;
  height: 12px;
  fill: #757575;
}
