$primary-text-color: rgba(0, 0, 0, 0.8);
$title-text-color: #000000;
$accent-color: #18a0fb;
$primary-white-color: #ffffff;
$background-color: #2196f3;
$background-color-black: #2f303a;
$color-grey: #757575;
$header-color: #ececec;
